body, html {
    margin: 0;
    padding: 0;
    font-family: 'Livvic', sans-serif;
    scroll-behavior: smooth;
    color: black;
}

header{
    background-color: #AC4DBF;
    color: white;
    padding: 15px 0px;
    text-align: center;
}

.navbar{
    background-color: #451F4D;
    font-family: 'ARCO', sans-serif;
    font-weight: light;
    color: white;
    white-space: nowrap;
}


.nav-item .nav-link {
    transition: transform 0.3s ease;
    color: white;
    padding: 5px 30px;
}

.nav-item .nav-link:hover {
    transform: scale(1.1);
    color: #F27F0C;
    filter: drop-shadow(1px 1px 0px #331A00);
    animation: scaleTilt 0.15s ease-out forwards;
}
.nav-item .nav-link:not(:hover) {
    transform: scale(1);
    color: white;
    animation: unScaleTilt 0.3s ease-out forwards;
}

main {
    text-align: center;
}

#scrollToTopBtnL{
    bottom: 20px;
    left: 20px;
    display: none;
    background-color: #ffffff00;
    border: none;
    padding: 0px;
    border-radius: 17.5px;
    cursor: pointer;
}

#scrollToTopBtnR{
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #ffffff00;
    border: none;
    padding: 2.5px;
    border-radius: 17.5px;
    cursor: pointer;
}

footer {
    background-color: #451F4D;
    color: white;
}

.parallax {
    position: relative;
    height: 75vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg1 {
    background-image: url('parallax/1.png');
}

.bg2 {
    background-image: url('parallax/2.png');
}

.bg3 {
    background-image: url('parallax/3.png');
}

.bannerlogo {
    animation: fadeInUp 1s ease-in-out forwards;
}

.content {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    width: 500px;
}

@font-face {
    font-family: 'ARCO Typography';
    src: url('ARCOTypography.eot')
         url('ARCOTypography.eot?#iefix') format('embedded-opentype'),
         url('ARCOTypography.woff2') format('woff2'),
         url('ARCOTypography.woff') format('woff'),
         url('ARCOTypography.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/livvic/v14/rnCq-x1S2hzjrlff08YutV3D.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.title {
    font-family: 'ARCO', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    filter: drop-shadow(0px 1px 0px #733380);
    animation: fadeInDown 1s ease-in-out forwards;
}

.content-title {
    font-family: 'ARCO', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #AC4DBF;
    filter: drop-shadow(1px 1px 0px #451F4D);
}

.h3 {
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
    color: white;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(90%, 90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(100%, 100%);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-5px) scale(90%, 90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(100%, 100%);
    }
}

@keyframes scaleTilt {
    0% {
        transform: scale(1) rotate(0turn);
        color: #FFFFFF;
    }
    100% {
        transform: scale(1.1) rotate(-0.01turn);
        color:#F27F0C
    }
}

@keyframes unScaleTilt {
    0% {
        transform: scale(1.1) rotate(-0.01turn);
        color:#F27F0C
    }
    100% {
        transform: scale(1) rotate(0turn);
        color: #FFFFFF;
    }
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin: 5px 0;
    align-items: left;
    justify-content: left;
    transition: transform 0.15s;
}

.contact-info li:hover {
    transform: scale(1.05);
}

.copy-icon {
    cursor: pointer;
    margin-left: 5px;
}

.copy-icon.success {
    animation: spin 1s ease-in-out;
    filter: opacity(25%);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.filter-invert{
    filter: invert(100%);
}