:root {
    --color-A: #AC4DBF;
    --color-B: #733380;
    --color-C: #451F4D;
    --color-D: #F27F0C;
    --color-E: #331A00;
    --color-F: #ffffff;
    --color-F2: #ffffffcc;
    --color-G: #000000;
}

:root.dark-mode {
    --color-A: #000000;
    --color-B: #733380;
    --color-C: #181818;
    --color-D: #F27F0C;
    --color-E: #331A00;
    --color-F: #AC4DBF;
    --color-F2: #000000cc;
    --color-G: #FFFFFF;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Livvic', sans-serif;
    scroll-behavior: smooth;
    color: var(--color-G);
}

header{
    background-color: var(--color-A);
    color: var(--color-F);
    padding: 20px 0px;
    text-align: center;
}

.navbar-toggler {
    color: var(--color-F);
}

.navbar-large {
    display: none;
}
.navbar-small {
    display: none;
}

/* Navbar for larger screens */
@media (min-width: 992px) {
    :target {
        scroll-margin-top: 80px; /* offsets anchor points b/c of sticky navbar*/
    }
    .navbar-large {
        display: flex;
        background-color: var(--color-C);
        font-family: 'ARCO Typography Regular', Fallback, sans-serif;
        font-weight: light;
        color: var(--color-F);
    }

    .nav-item .nav-link {
        transition: transform 0.3s ease;
        color: var(--color-F);
        padding: 10px 0px;
    }
    
    .nav-item .nav-link:hover {
        transform: scale(1.1);
        color: var(--color-D);
        filter: drop-shadow(1px 1px 0px var(--color-E));
        animation: scaleTilt 0.15s ease-out forwards;
    }
    .nav-item .nav-link:not(:hover) {
        transform: scale(1);
        color: var(--color-F);
        animation: unScaleTilt 0.3s ease-out forwards;
    }
}

/* Navbar for smaller screens */
@media (max-width: 991px) {
    :target {
        scroll-margin-top: 190px; /* offsets anchor points b/c of sticky navbar*/
    }
    .navbar-small {
        display: flex;
        background-color: var(--color-C);
        font-family: 'ARCO Typography Regular', Fallback, sans-serif;
        font-weight: light;
        color: var(--color-F);
    }
    .nav-item .nav-link {
        transition: transform 0.3s ease;
        color: var(--color-F);
        padding: 10px 20px;
    }
    
    .nav-item .nav-link:hover {
        color: var(--color-D);
        filter: drop-shadow(1px 1px 0px var(--color-E));
    }
    .nav-item .nav-link:not(:hover) {
        color: var(--color-F);
    }
}

main {
    text-align: center;
}

#scrollToTopBtnL{
    bottom: 20%;
    left: 20%;
    display: none;
    background-color: #ffffff00;
    border: none;
    padding: 0px;
    border-radius: 17.5px;
    cursor: pointer;
}

#scrollToTopBtnL2{
    bottom: 20%;
    left: 20%;
    display: none;
    background-color: #ffffff00;
    border: none;
    padding: 0px;
    border-radius: 17.5px;
    cursor: pointer;
}

#scrollToTopBtnR{
    bottom: 2%;
    right: 2%;
    display: none;
    background-color: #ffffff00;
    border: none;
    padding: 2.5px;
    border-radius: 17.5px;
    cursor: pointer;
}

#scrollToTopBtnR2{
    position: fixed;
    bottom: 5%;
    right: 3.5%;
    display: none;
    background-color: #ffffff00;
    border: none;
    padding: 2.5px;
    border-radius: 17.5px;
    cursor: pointer;
}

footer {
    background-color: var(--color-C);
    color: var(--color-F);
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg1 {
    background-image: url('parallax/1.png');
    height: 175vh;
}

.bg2 {
    background-image: url('parallax/2.png');
    height: 175vh;
}

.bg3 {
    background-image: url('parallax/3.png');
    height: 175vh;
}

.bannerlogo {
    animation: fadeInUp 1s ease-in-out forwards;
}

.content {
    background: var(--color-F2);
    padding: 20px 50px;
    border-radius: 10px;
    width: 80%;
    position: absolute;
    top: 50px;
}
.left-justified-text{
    text-align: justify;
}

@font-face {
    font-family: 'ARCO Typography Regular';
    src: url('fonts/ARCOTypography.eot');
    src: url('fonts/ARCOTypography.eot?#iefix') format('embedded-opentype'),
         url('fonts/ARCOTypography.woff2') format('woff2'),
         url('fonts/ARCOTypography.woff') format('woff'),
         url('fonts/ARCOTypography.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/livvic/v14/rnCq-x1S2hzjrlff08YutV3D.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.title {
    font-family: 'ARCO Typography Regular', Fallback, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: var(--color-F);
    filter: drop-shadow(0px 1px 0px var(--color-B));
    animation: fadeInDown 1s ease-in-out forwards;
}

.content-title {
    font-family: 'ARCO Typography Regular', Fallback, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: var(--color-A);
    filter: drop-shadow(1px 1px 0px var(--color-C));
}

.h3 {
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
    color: var(--color-F);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(90%, 90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(100%, 100%);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-5px) scale(90%, 90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(100%, 100%);
    }
}

@keyframes scaleTilt {
    0% {
        transform: scale(1) rotate(0turn);
        color: var(--color-main-white);
    }
    100% {
        transform: scale(1.1) rotate(-0.01turn);
        color:var(--color-D)
    }
}

@keyframes unScaleTilt {
    0% {
        transform: scale(1.1) rotate(-0.01turn);
        color:var(--color-D)
    }
    100% {
        transform: scale(1) rotate(0turn);
        color: var(--color-main-white);
    }
}

@keyframes whiteToOrange {
    0% {
        color:var(--color-D)
    }
    100% {
        color: var(--color-main-white);
    }
}

@keyframes whiteToOrange {
    0% {
        color:var(--color-D)
    }
    100% {
        color: var(--color-main-white);
    }
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
    line-height: 50%
}

.contact-info li {
    margin: 5px 0;
    align-items: left;
    justify-content: left;
    transition: transform 0.15s;
}

.contact-info li:hover {
    transform: scale(1.05);
}

.copy-icon {
    cursor: pointer;
    margin-left: 5px;
}

.copy-icon.success {
    animation: spin 1s ease-in-out;
    filter: opacity(25%);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-F);
}

.filter-invert{
    filter: invert(100%);
}

.social-bar ul{
    list-style-type: none;
    padding: 0;
}

.social-bar ul li{
    margin: 5px 0;
    align-items: left;
    justify-content: left;
    transition: transform 0.15s;
    list-style-type: none;
}

.social-bar ul li:hover{
    transform: scale(1.1);
}