---
import HeroVideo from './HeroVideo.astro';
import GameHighlight from './GameHighlight.astro';
import TeamCarousel from './TeamCarousel.astro';
import Socials from '../Shared/Socials.astro';
---
<main class="landing-container">
    <HeroVideo />
    <GameHighlight />
    <TeamCarousel />
    <Socials />
</main>